.interview__title {
    font-weight: 300;
    text-transform: uppercase;
}
.interview__subtitle {
    font-size: .7em;
    font-style: italic;
}
.interview__origin {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.interview__origin-link {
    margin-left: 10px;
    display: block;
    border-radius: 50%;
    width: 75px;
}
.interview__img {
    width: 100%;
}
.interview__img-main {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.interview__paragraph:first-letter {
    color: #f16d7f;
    font-size: 50px;
    float: left;
    line-height: 40px;
    font-weight:700;
    margin-right: 5px;
}
.interview__paragraph-sub {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: .7em;
    font-weight: 700;
    font-style: italic;
    border-bottom: 1px solid #6f6e6e;
}
blockquote {
    position: relative;
    padding: 15px 25px;
    margin-bottom: 35px;
}
blockquote:before {
    line-height: 1;
    color: #0a0a0a;
    opacity: 0.1;
    font-size: 7rem;
    position: absolute;
    content: '❝';
    left: -.5rem;
    top: -1rem;
    pointer-events: none;
}
.social__footer {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #f6f6f6;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}
.social__button {
    height: 45px;
    padding: 0 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin: .5em;
    color: #6f6e6e;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s linear;
}
.social__button:hover {
    color: white !important;
}
.social__button:first-child:hover {
    background: #3b5998;
}
.social__button:nth-child(2):hover {
    background: #00aced;
}
.social__button:nth-child(3):hover {
    background: #45668e;
}
.social__button:nth-child(4):hover {
    background: #25d366;
}
.social__button:nth-child(5):hover {
    background: #9b9b9b;
}
.social__button:last-child:hover {
    background: #08c;
}

.social__text {
    margin-left: 10px;
}


@media (max-width: 991px) {
    .content {
        margin-top: 40px;
    }
    .interview__origin-link {
        margin-left: 5px;
        width: 50px;
    }
    .interview__origin {
        margin-top: -30px;
    }
    .interview__img-main {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .interview__title {
        font-weight: 500;
    }
}
